body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  position: relative;
  padding: 20px;
  min-height: 20vh;
  z-index: 1;
}

.container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/public/images/homeimg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: -1;
  opacity: 0.8;
}

.title, .description {
  position: relative;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.title {
  font-size: 24px;
  text-align: center;
}

.description {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
  }

  .description {
    font-size: 18px;
  }
}
